@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  /* Attempt to fix the dumb chrome situation where 100vh is taller than what is actually visible */
  /* min-height: -webkit-fill-available; */
  width: 100vw;
  overflow: hidden;
  background-color: #2b2b2b;
}

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right {
  display: none;
}